* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("assets/seamless_paper_texture.png");
}
/*Styling for elements in header*/
header {
    margin: 0 auto;
    width: 70%;
    border: black;
    border-bottom: 5px;
}

h1 {
    color: white;
    text-shadow:1px 1px 3px #000;
}

header h1,
header p {
    font-family: 'Playfair Display', serif;

    text-align: center;
}
/*Styling for each hour block*/
.container {
    width: 70%;
    margin: 2px auto;
    padding: 0 auto;
    height: 3em;

}

.save, 
.text,
.hour {
    float: right;
}

.text,
.hour {
    box-shadow: 0px 10px 5px grey;
}
/*Save Button Styling*/
.save {
    box-shadow: 10px 10px 5px grey;

    margin: 0; 
    padding: 0;
    height: 100%;
    width: 10%;

    border-style: solid;
    border-radius: 0px 12px 12px 0px;
    border-width: 1px;
    border-color: gray;
    background-color: #f0f0f0
}

.save:hover {
    background-color: lightgray;
}

.save:focus {

    outline: none;
}
.save:active {
    background-color: darkgray;
}
/*Textarea Styling*/
.text {
    background-color: aqua;
    z-index: 1;

    margin: 0;
    padding: 5px;
    height: 100%;
    width: 70%;

    resize: none;
    overflow: hidden;

    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: gray;
    border-width: 1px;

    font-size: 1.25em;
    color: white;
    text-shadow:1px 1px 5px #000;
}

.text:focus {
    overflow: auto;
}
/*Styling for section with hour displayed*/
.hour {
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 12px;
    border-color: gray;

    
    text-align: right;
    height: 100%;
    width: 20%;
    max-width: 4em;
    background-color: #f0f0f0;
    padding: 2px;
}



/*Allow website to respond to small and large screen sizes*/
@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .save {
        width: 20%;
    }
    .text {
        width: 60%
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 700px;
    }
    
}